<section class="notified row-container">
  <div class="form grid-7">
      <h3 class="notified-left--title">Get notified by any updates!</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Suspendisse fringilla fringilla nisl congue congue. 
        Maecenas nec condimentum libero, at elementum mauris. 
        Suspendisse fringilla fringilla nisl congue congue. 
        Maecenas nec.
      </p>
      <form action="POST" class="subscribe">
          <input class="subscribe-mail" type="mail" placeholder="Email adress">
          <button class="subscribe-button" type="submit">Notify</button>
      </form>
  </div>
  
  <div class="media grid-6">
      <div class="media-embed">
          
            <iframe src="https://player.vimeo.com/video/57399324" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
  </div>
</section>