<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Notify app</title>
        
        <link rel="stylesheet" href="css/main-index.css">
    </head>

    <body>
            
            @@include('index/_svg-icons-sprite.html')
        <div class="bg-jumbotron">
            <div class="container">
                @@include('index/_1_jumbotron.html')
            </div>
        </div>
        <div class="bg-features">
            <div class="container">
                @@include('index/_2_features.html')
            </div>
        </div>
        <div class="bg-content">
            <div class="container">
                @@include('index/_3_content.html')
            </div>
        </div>
        <div class="bg-reviews">
            <div class="container">
                @@include('index/_4_reviews_social.html')
            </div>
        </div>
        <div class="bg-footer">
            <div class="container">
                @@include('index/_5_footer.html')
            </div>
        </div>
            
            
            
            
            
        
        <script src="js/common.min.js"></script>
    </body>
</html>